@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
	text-align: center;
	background: url("back3.jpg") no-repeat center center fixed;
	background-position: center;
	object-fit: cover;
	background-size: cover;
	width: 100%;
	height: 100vh;
}

h3 {
	font-size: 75px !important;
	color:rgb(83, 79, 79);
    padding-top: 70px;
	font-family:reggae one;
	font-weight: bolder;
	position: relative;
}
.all {
	margin:90px auto;
}

.animation {
	box-shadow: 0 3px 4px 0 #DBEDF3;
	opacity: 0.5;
}
.button {
	position: relative;
	border: 6px solid #3c3f47;
	font-size: 50px;
	font-family: Zilla Slab;
	font-weight: 900;
	color:rgb(136, 119, 90);
	box-shadow: inset 0 0 13px rgb(80, 53, 53);
	border-radius: 25px;
	display:inline-block;
	width: 120px !important;
	height: 120px !important;
	text-align: center;
	margin: 10px;
	background-color:whitesmoke;
}
@media(max-width:500px){
	.button{
		width:100px !important;
		height: 100px !important;
	}
}

